$main-color:#06498b;
html,body,#app{height:100%;margin:0;background-color:#eff7ff;}
ul{list-style:none;margin:0;padding:0;}
h1.pageTitle{
	font-size:24px;text-align:left;height:50px;line-height:50px;color:#333;border-bottom: 2px solid #0b78e3;margin-top:0;font-weight: normal;
	button{float:right;margin-left: 20px;}
}
.el-pagination{text-align: right;margin: 20px 0;}
// table tr.tableHeader th{background-color: #e2eef5;}